Library/
Temp/
Obj/
Build/
Logs/
UserSettings/
MemoryCaptures/
Assets/Triangularity/ColorfulCity/Scenes/Buildings Showcase.unity
Assets/Triangularity/ColorfulCity/Scenes/All Buildings Colors.unity
Assets/Triangularity/ColorfulCity/Scenes/City (Main scene).unity
